{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} {% if not post.meta("page_hero") %}no-hero{% endif %}" data-template="base.twig">
		<a class="skip-link screen-reader-text font-bold" href="#content">{{ _e( 'Skip to content') }}</a>
    {% include 'header.twig' %}
        {% include 'partial/hero.twig' %}
		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
        {% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
      {% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
