<footer id="footer" class="gm-footer">
  <div class="gm-wrapper">
    <div class="gm-logo">
      <a href="{{ home_url }}" title="{{ rel }}">
        <span>{{ site.name }}</span>
      </a>
    </div>
    <div class="gm-footer-content">
    <div class="gm-footer-nav">
      <nav aria-label="{{ __('footer nav', 'goodmotion-theme') }}">
        {% include "menu.twig" with {'items': menu_secondary.get_items} %}
      </nav>
    </div>
    <div class="gm-footer-social">
      <div>{{ __('follow us', 'goodmotion-theme') }}</div>
      <div>
        <a
          target="_blank"
          class="gm-icon gm-facebook-icon"
          href="{{ options.facebook_page }}"
          title="{{ __('follow us on facebook', 'goodmotion-theme') }}"
        >
          <span>{{ options.facebook_page }}</span>
        </a>
        <a
          target="_blank"
          class="gm-icon gm-instagram-icon"
          href="{{ options.instagram_page }}"
          title="{{ __('follow us on instagram', 'goodmotion-theme') }}"
        >
          <span>{{ options.instagram_page }}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="gm-footer-reserved">
    <p>
      {{ site.name }} {{ "now"|date("Y") }} - {{ __('All rights reserved.') }}
    </p>
  </div>
</footer>
