{% extends "base.twig" %} {% block content %}
<div class="content-wrapper">
  <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
    <section class="article-content">
      {% if post.post_type == 'events' %}
      <div class="gm-events-detail">
        <div class="gm-events-date">
          <time dateTime="{{post.meta("date_event")|date('c')}}">
          {{ __( 'The', 'goodmotion-theme' ) }} {{ post.meta("date_event")|date("d M. Y") }}
        </time>
        </div>
      </div>
      {% endif %} {% if post.meta('page_show_title') == true or post.post_type
      != 'page' %}
      <h1 class="article-h1">{{ post.title }}</h1>
      {% endif %}
      <div class="article-body">
        {{ post.content }}
      </div>
      {% if post.post_type == 'events' %} {% include "partial/share-btn.twig"
      with {title: post.title, url: post.link} %} {% endif %}
    </section>
  </article>
</div>
<!-- /content-wrapper -->
{% endblock %}
