{% if taxonomy %}
<h1 class="gm-h gm-events-list-title">{{ __('List of events in category', 'goodmotion-theme') }} {{ taxonomy.name }} </h1>
<a class="events-back-link" href="/agenda" title="{{ __('Back to the list of events', 'goodmotion-theme') }}">← {{ __('Back to the list of events', 'goodmotion-theme') }}</a>
{% else %}
<h1 class="gm-h gm-events-list-title">{{ __('List of events', 'goodmotion-theme') }}</h1>
{% endif %}
{% for post in posts %}
<article
  class="gm-events-list-element "
  data-filters="{{post.terms('events_categories')|join(',')}}"
  >
  <dl class="gm-events-details">
      <dt class="sr-only">Publié le</dt>
      <dd class="gm-events-date">
        <time dateTime="{{post.meta("date_event")|date('c')}}">
          {{ __( 'The', 'goodmotion-theme' ) }} {{ post.meta("date_event")|date("d M. Y") }}
        </time>
      </dd>
       <dt class="sr-only">Categories</dt>
      <dd class="gm-events-categorie">
        {% for term in post.terms('events_categories') %}
          <a href="{{term.link}}" title="{{term.title}}">{{term.title}}</a>
        {% endfor %}
      </dd>
    </dl>
    <div class="gm-events-content">
      <h2>
        <a href="{{ post.link }}" title="{{ post.title }}">{{ post.title }}</a>
      </h2>
      <p>
       {{ post.preview.length(40).read_more(false) }}
      </p>
      <div class="gm-events-link">
        <a href="{{ post.link }}" title="{{ post.title }}">
          Lire la suite →
        </a>
      </div>
    </div>
    <div class="gm-events-media">
      {% if post.meta("page_hero") %}
      {% set img = post.meta("page_hero")[0] %}
        <a href="{{ post.link }}" title="{{ post.title }}">
          <picture>
            <source media="(max-width: 500px)" srcset="{{Image(img.image).src|resize(500, 250)|tojpg}}">
            <source media="(max-width: 769px)" srcset="{{Image(img.image).src|resize(769, 250)|tojpg}}">
            <source media="(max-width: 1024px)" srcset="{{Image(img.image).src|resize(250,250)|tojpg}}">
            <img src="{{Image(img.image).src|resize(250, 180)|tojpg}}" alt="{{ img.image.alt }}">
          </picture>
        </a>
          {% endif %}
    </div>
  </article>
  {% else %}
  <div>{{ __('None events', 'goodmotion-theme') }}</div>
  {% endfor %}
</div>
