{% if post.meta("page_hero")%}
  <header class="gm-hero-wrapper {% if fn('is_front_page') == false %}gm-hero-wrapper-page{% endif %}">
    <div class="gm-hero-container" data-autoplay="{% if post.meta('page_hero_delay') != '' %}{{ post.meta
      ('page_hero_delay') }}{% else %}7000{% endif %}" data-arrow="{% if post.meta('page_hero_show_arrow') %}true{%
      else %}false{% endif %}"
         data-dot="{% if post.meta('page_hero_show_dot') %}true{%
           else %}false{% endif %}">
      {% set carousel = post.meta('page_hero') %}
      {% if carousel|length > 1 %}
        <div role="tablist" class="gm-hero-dot-container">
          {%  if post.meta('page_hero_show_dot') %}
            {% for key, item in carousel %}
              <button
                role="tab"
                tabindex="-1"
                aria-selected="false"
                aria-controls="carousel-{{ key }}"
                class="gm-hero-dot"
              >
                <span>{{ __("image", "gm-hero") }} {{ key + 1 }}</span>
              </button>
            {% endfor %}
          {% endif %}
          <button data-play="{{ __("play", "goodmotion-theme") }}" data-pause="{{ __("pause", "cote-gare-1030-theme") }}"
                  class="gm-hero-autoplay">
            <span>{{ __("play", "goodmotion-theme") }}</span>
          </button>
        </div>
      {% endif %}
      {% if carousel|length > 1 and post.meta('page_hero_show_arrow') %}
        <div class="gm-hero-arrow-container">
          <button class="gm-hero-arrow-previous">
            <span>{{ __("previous", "goodmotion-theme") }}</span>
          </button>
          <button class="gm-hero-arrow-next">
            <span>{{ __("next", "goodmotion-theme") }}</span>
          </button>
        </div>
      {% endif %}
      <div class="gm-hero">
        {% for key, item in carousel %}
          <div>
            <picture>
              <source
                media="(max-width: 600px)"
                srcset="{{Image(item.image).src|resize(600, 550)|tojpg}}"
                type="image/jpeg"
              />
              <source  media="(max-width: 600px)" srcset="{{Image(item.image).src|resize(600, 550)|tojpg|towebp}}" type="image/webp">
              <source
                media="(max-width: 1000px)"
                srcset="{{Image(item.image).src|resize(1000, 600)|tojpg}}"
                 type="image/jpeg"
              />
              <source  media="(max-width: 1000px)" srcset="{{Image(item.image).src|resize(1000, 600)|tojpg|towebp}}" type="image/webp">
                 <source srcset="{{Image(item.image).src|resize(1400, 800)|tojpg|towebp}}" type="image/webp">
              <img
                role="tabpanel"
                class="gm-hero-cell"
                id="carousel-{{ key }}"
                src="{{Image(item.image).src|resize(1400, 800)|tojpg}}"
                alt="{{ item.image.alt }}"
                width="1400"
                height="800"
                style="min-width: 100vw"
                type="image/jpeg"
                loading="{%  if key == 0 %}eager{% else %}lazy{% endif %}"
              />
            </picture>
            <div class="hero_content hero_content_show">
              {% if item.hero_title %}
                <h2>{{ item.hero_title }}</h2>
              {% endif %}
              {% if item.hero_subtitle %}
                <p>{{ item.hero_subtitle }}</p>
              {% endif %}
            {% if item.hero_target_btn %}
              <div>
                <a
                  class="gm-btn"
                  href="{{ item.hero_target_btn.url }}"
                  title="{{ item.hero_target_btn.title }}"
                >{{ item.hero_target_btn.title }}</a
                >
              </div>
            {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </header>
  {%  else  %}
  <div class="gm-not-hero"></div>
{% endif %}
